In [109]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
%matplotlib inline

In [110]:
df = pd.read_csv('Iris.csv', index_col=0)
df.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

In [111]:
df.shape

(150, 5)

In [112]:
df.Species.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [113]:
LE = LabelEncoder()
df.Species = LE.fit_transform(df.Species)
df.Species.unique()

array([0, 1, 2])

In [114]:
X = df.drop(columns=['Species'])
y = df.Species
X.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Id
1             5.1           3.5            1.4           0.2
2             4.9           3.0            1.4           0.2
3             4.7           3.2            1.3           0.2
4             4.6           3.1            1.5           0.2
5             5.0           3.6            1.4           0.2

In [115]:
y.unique()

array([0, 1, 2])

In [116]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [117]:
model = LogisticRegression(max_iter=150)
model.fit(X_train, y_train)

LogisticRegression(max_iter=150)

In [118]:
model.score(X_train, y_train)

0.975

In [119]:
model.score(X_test, y_test)

0.9666666666666667

In [120]:
y_predicted = model.predict(X_test)